body {
    background-color: #080611;
    color: rgb(255, 255, 255);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #000000;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: block;  /* Garante que o botão ocupe uma linha inteira */
    margin: 20px auto; /* Adiciona um espaçamento em cima e embaixo e centraliza */
    padding: 10px 20px; /* Adiciona espaçamento interno ao botão */
    border: none; /* Remove qualquer borda padrão */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */

}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.2; /* Ajusta o espaçamento entre linhas */
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 31%;
  justify-content: center; /* Horizontally centers */
